/* Exemple de fansite1.css */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main {
  padding: 20px;
}

h1,
h2 {
  color: #ff0051;
}
/*Section Header*/
.container img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* Section Hero */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: #000000;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5em;
  color: #ffffff;
}

.hero-content .cta-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 245px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
}
/* section Réalisation*/
#galerie {
  display: flex;
  flex-wrap: row;
  padding: 50px 0;
  text-align: center;
  justify-content: center, space-between;
}

#galerie h2 {
  color: #d90429;
  text-align: center;
}

.album {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.galerie {
  text-align: center;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.album img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.album h4 {
  margin-top: 10px;
}
/*Section event*/

.cta-button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
/*Section photo*/
.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: slide 12s infinite;
  flex-direction: row;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
  width: 300px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.photo {
  display: flex;
  justify-content: space-around;
}
